<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  Name:<br>
  <input type="text" name="name" value="nombre">
  <br>
  eMail:<br>
  <input type="text" name="email" value="correo">
  <br>
  Password:<br>
  <input type="text" name="password" value="contrasena">
  <br><br>
  <input type="submit" value="Submit">
</form>
