<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/personal.css">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="images/ruby.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        RuQuiz
      </a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="row" id="box">
            <form action="/login" method="post" id="contenido">
              <h3>Inicia sesión con tu cuenta</h3>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Contraseña">
              </div>
              <button type="submit" class="btn btn-primary" value="Log in">Iniciar sesión</button>
              <br><br>
            </form>
            <div class="row">
              <p>¿No tienes cuenta aún?<a href="/registro">
                  Regístrate</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Scripts-->

    <script src="https://use.fontawesome.com/84656ba81e.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <% if flash.has?(:error) %>
      <h3 class="error"><%= flash[:error] %></h3>
    <% end %>

  </body>
</html>
