<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/personal.css">
  </head>

  <body>
    <form action="/newcuestionario" method="post">
      Nombre del cuestionario:<br>
      <input type="text" name="tittle" value="titulo">
      <br>
      Selecciona el tipo de pregunta:
      <br>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="fill_in" id="exampleRadios">
          Pregunta corta de relleno
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="multiple_choice" id="exampleRadios1">
          Pregunta de elección múltiple
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="true_false" id="exampleRadios2">
          Pregunta Verdadero/Falso
        </label>
      </div>
      <br>
      Enunciado de la pregunta:<br>
      <input type="text" name="question" value="pregunta">
      <br>
      <input type="submit" value="Crear Cuestionario">
    </form>
  </body>

</html>