<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/personal.css">
  <title>RuQuiz - Registro</title>
</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="images/ruby.png" width="30" height="30" class="d-inline-block align-top" alt=""> RuQuiz
    </a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-10 offset-1" id="box">
        <form action="/registro" method="post" id="contenido">
          <h3>Regístrate ahora</h3>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Correo electrónico">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Contraseña">
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-legend col-sm-4">¿Es usted profesor?</legend>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="instructor" id="exampleRadios1" value="yes" checked="checked"> Si
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="instructor" id="exampleRadios2" value="no"> No
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <button type="submit" class="btn btn-primary" value="Registro">Registrarme</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Scripts-->

  <script src="https://use.fontawesome.com/84656ba81e.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

</body>

<% if flash.has?(:error) %>
  <h3 class="error">
    <%= flash[:error] %>
  </h3>
  <% end %>

</html>