<h1>Sign Up Below:</h1>

<form action="/registro" method="post">
  Name:<br>
  <input type="text" name="name" value="nombre">
  <br>
  eMail:<br>
  <input type="text" name="email" value="correo">
  <br>
  Password:<br>
  <input type="text" name="password" value="contrasena">
  <br><br>
  Profesor
  <label><input type="radio" name="instructor" value="yes" />Yes</label>
  <label><input type="radio" name="instructor" value="no" checked />No</label>
  <br><br>
  <input type="submit" value="Registro">
</form>
